<nav class="navbar headerbg">
  <div class="container">
      <div class="btn-cart-con">
          <div class="btn-cart">
              <div class="btn-container" (click)="showProd()" [class.btn-cart-active]="showCart && count > 0">
                   <img class="cart-icon" src="assets/image/cart-icon.png"/>
                   <span class="cart-text">My Cart</span>  {{ count ? "( " +count + " )" : "" }}
              </div>
              <div class="product" *ngIf="showCart && count > 0">
                  <div class="product-row" *ngIf="prodCount.s > 0">
                      <div class="product-column-1">
                          <div class="product-image">
                              <img src="assets/image/classic-tee.jpg">
                              </div>
                      </div>
                      <div class="product-column-2">
                          <div class="addedProd">
                              <div>Classic Tee</div>
                              <div> {{ prodCount.s }}x <b>$75.00</b></div>
                              <div>Size: S</div>
                          </div>
                      </div>
                  </div>

                  <div class="product-row" *ngIf="prodCount.m > 0">
                      <div class="product-column-1">
                          <div class="product-image">
                              <img src="assets/image/classic-tee.jpg">
                              </div>
                      </div>
                      <div class="product-column-2">
                          <div class="addedProd">
                              <div>Classic Tee</div>
                              <div>{{ prodCount.m }}x <b>$75.00</b></div>
                              <div>Size: M</div>
                          </div>
                      </div>
                  </div>

                  <div class="product-row" *ngIf="prodCount.l > 0">
                      <div class="product-column-1">
                          <div class="product-image">
                              <img src="assets/image/classic-tee.jpg">
                              </div>
                      </div>
                      <div class="product-column-2">
                          <div class="addedProd">
                              <div>Classic Tee</div>
                              <div>{{ prodCount.l }}x <b>$75.00</b></div>
                              <div>Size: L</div>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</nav>
<div class="container body-content">

  <div class="row">
    <div class="col-sm">
      <div class="display-product-image">
        <img src="assets/image/classic-tee.jpg">
    </div>
    </div>
    <div class="col-sm">
        <div class="product-information">
          <h1>Classic Tee</h1>
          <hr>
          <span class="price">$75.00</span>
          <hr>
          <p class="description">
              Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>

          <div class="size-content">
              <p class="sizeTxt"> SIZE<span class="req">*</span> <span class="selectedSize"> {{ selectedSize }}</span></p>
              <div class="select-size">
                  <span [class.sizeActive]="selectedSize == 'S'" (click)="selectSize('S')">S</span>
                  <span [class.sizeActive]="selectedSize == 'M'"(click)="selectSize('M')">M</span>
                  <span [class.sizeActive]="selectedSize == 'L'" (click)="selectSize('L')">L</span>
              </div>
          </div>
          <button class="addBtn" (click)="addToCart()">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>